# Testing the new code owners feature in GitHub. Please contact Cory Fowler if you have questions.

# Global owner
* @Susan-Potter

# Config
/articles/docfx.json @KarlErickson @Susan-Potter
/.openpublishing.publish.config.json @KarlErickson @Susan-Potter
/CODEOWNERS @KarlErickson @Susan-Potter

# AI

/articles/ai/ @ms-johnalex

# Intro
/articles/intro/ @Susan-Potter

# DevEx
/articles/python/ @PatAltimore
/articles/go/ @PatAltimore
/articles/cpp/ @ronniegeraghty @antkmsft @PatAltimore
/articles/rust/ @ronniegeraghty @heaths @diberry
/articles/javascript/ @diberry
/articles/java/ @KarlErickson
/articles/github-copilot-app-modernization/ @KarlErickson

# Tools
/articles/azure-developer-cli/ @alexwolfmsft @kristenwomack
/articles/typespec/ @diberry
/articles/azure-mcp-server/ @diberry @sandeep-sen
/articles/azure-mcp-server/get-started @diberry @sandeep-sen @alexwolfmsft

# Azure SDK authentication topics
/articles/go/sdk/authentication/            @scottaddie @chlowell
/articles/java/sdk/authentication/          @scottaddie @g2vinay @anannya03
/articles/javascript/sdk/authentication/    @scottaddie @KarishmaGhiya @minhanh-phan @maorleger
/articles/python/sdk/authentication/        @scottaddie @pvaneck @xiangyan99
/articles/python/sdk/authorization/         @scottaddie @pvaneck @xiangyan99
/articles/cpp/sdk/authentication/           @scottaddie @antkmsft @ronniegeraghty
/articles/rust/sdk/authentication/          @scottaddie @ronniegeraghty @chlowell @heaths