# Testing the new code owners feature in GitHub. Please contact Cory Fowler if you have questions.

# Global owner
* @Susan-Potter

# Config
/articles/docfx.json @KarlErickson @Susan-Potter
/.openpublishing.publish.config.json @KarlErickson @Susan-Potter
/CODEOWNERS @KarlErickson @Susan-Potter

# AI
/articles/ai/ @bobtabor-msft

# Intro
/articles/intro/ @Susan-Potter

# DevEx
/articles/python/ @PatAltimore
/articles/go/ @PatAltimore
/articles/cpp/ @antkmsft @PatAltimore
/articles/rust/ @heaths @diberry
/articles/javascript/ @diberry
/articles/java/ @KarlErickson
/articles/github-copilot-app-modernization/ @KarlErickson

# Tools
/articles/azure-developer-cli/ @alexwolfmsft @kristenwomack
/articles/typespec/ @diberry

# Azure AI Developer tools
/articles/ai-developer-tools/ @diberry @yunjchoi @sandeep-sen 
/articles/azure-mcp-server/ @diberry @sandeep-sen @yunjchoi 
/articles/azure-mcp-server/get-started @diberry @sandeep-sen @alexwolfmsft @yunjchoi 
/articles/azure-skills/ @diberry @yunjchoi

# Azure SDK authentication topics
/articles/go/sdk/authentication/            @sandeep-sen
/articles/java/sdk/authentication/          @g2vinay @anannya03
/articles/javascript/sdk/authentication/    @KarishmaGhiya @minhanh-phan @maorleger
/articles/python/sdk/authentication/        @kashifkhan
/articles/python/sdk/authorization/         @kashifkhan
/articles/cpp/sdk/authentication/           @antkmsft
/articles/rust/sdk/authentication/          @heaths
